html {
  font-family: arial;
  font-size: 20px;
  text-align:left;
}

img { 
  width:40%; 
}

header {
  background-color: gray;
}

/* used a simple color to make the title pop*/

footer {
  background-color:darkgray;
  margin: 100px 0 0 0; 
  padding: 20px 0;
}

/* used this to allow viewer to see this is where the page ends*/ 

h1{
  color: black;
  padding:60px 0 20px 20px;
  margin:0;
  height:0;
}

/* used a black to ensure contrast error doesn't happen*/


link:hover{
  color:red;
}

link:active{
  color:green;
}

link:visisted{
  color:purple;
}
